* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightcyan: #B4D0E7;
  --bluebtn: #0061FF;
  --grey: #797979;
}

body {
  font-family: 'Open Sans', sans-serif;
}

button {
  /* display: inline-block; */
  background-color: var(--bluebtn);
  cursor: pointer;
  width: fit-content;
  color: white;
  border: 0;
  padding: 12px 12px;
}


/* UTILITIES */

.d-flex {
  display: flex;
}

.d-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.debug {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
}

.container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

.sub-container {
  width: 98%;
  max-width: 1000px;
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}


/* HEADER */

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
  background-color: white;
}

.top-bar {
  /* position: relative; */
  width: 98%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.top-bar .logo {
  margin-right: 10px;
}

.top-bar ul {
  list-style: none;
}

.top-bar ul a {
  text-decoration: none;
  color: black;
}

.web-nav ul li {
  margin-right: 10px;
}



/* MAIN */


h2.titolone {
  font-size: 2.5rem;
  font-weight: 800;
}

/* .col {
  padding: 20px;
} */

.main-wrap {
  /* padding-top: 80px; */
  /* transform: translate(0,80px); */
  flex-direction: column;
}

/* JUMBOTRON */

.jumbotron-bg {
  background-color: var(--lightcyan);
}

.jumbotron {
  padding-top: 80px;
  flex-direction: column;
  margin-bottom: 200px;
  /* text-align: center; */
}

.jumbotron .titolone {
  width: 100%;
}

.jumbotron h1 {
  padding-top: 100px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 5rem;
}

.jumbotron .col {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% / 3);
}

/* FIXME:image position  */
.jumbotron .image {
  position: relative;
  top: 50px;
}

.jumbotron .col p {
  font-weight: 600;
}

.jumbotron .image img {
  width: 100%;
  max-width: 1000px;
  /* object-fit: cover; */
}

.jumbotron .col .go-down-anchor a {
  color: black;
}

.jumbotron .col .go-down-anchor i {
  font-size: 3rem;
}

/* MAIN SECTION */

.main-top {
  padding: 5px 10px;
  flex-direction: column;
}

.main-top .finti-radio {
  margin: 20px 0;
}

.main-top h1 {
  font-size: 2.5rem;
}

.active-plan .small-col {
  flex-basis: calc(100% / 3);
  flex-shrink: 0;
  /* height: 100px; */
  padding: 0 10px;
}


.partner-box,
.info-section,
.active-plan {
  width: 100%;
  margin-bottom: 100px;
}


.partner-box .col:first-child {
  width: 60%;
}

.partner-box .col h2 {
  font-weight: 700;
}

.partner-box .col:last-child {
  width: 40%;
  padding: 100px 40px;
}

.partner-box .col:last-child p {
  padding: 20px 0;
  font-weight: 600;
}

.partner-box .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partner-box .col .white-btn {
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  border: 1px solid black;
}


.info-section h2 {
  padding-bottom: 30px;
}


.info-section .row {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;}

.small-col {
  flex-basis: calc(100% / 3);
}
