* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

.d-flex {
  display: flex;
}

.debug {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
}