* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightcyan: #B4D0E7;
  --bluebtn: #0061FF;
  --grey: #797979;
  --lightgrey: #F5F5F5;
  --partecipacolor: #61082B;
  --spaceLink: 45px;
  --greyTab: #D0D0D3;
  --bgWhite: #ffffff;
}

body {
  background-color: var(--bgWhite);
}

main {
  width: 100%;
}

.fa-li {
  width: var(--fa-li-width, 2.5em);
}

body,
button {
  font-family: 'Open Sans', sans-serif;
}

button {
  /* display: inline-block; */
  background-color: var(--bluebtn);
  cursor: pointer;
  width: fit-content;
  color: white;
  border: 0;
  padding: 8px 15px
}

.small-col {
  flex-basis: calc(100% / 3);
}




/* UTILITIES */

.d-flex {
  display: flex;
}

.d-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.debug {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
}

.container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

.sub-container {
  width: 98%;
  max-width: 1000px;
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

/* HEADER */

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  /* min-width: 1150px; */
  height: 80px;
  background-color: white;
  /* border-bottom: 1px solid rgb(214, 214, 214); */
  box-shadow: 0 0 2px rgb(193, 193, 193);
}

.top-bar {
  /* position: relative; */
  width: 98%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  font-weight: 500;
}

.top-bar .top-left-bar {
  height: 100%;
}

.top-bar .top-left-bar .logo {
  height: 100%;
}

.top-bar .top-left-bar .logo a img {
  position: relative;
  top: 50%;
  transform: translatey(-50%)
}

.top-bar ul {
  list-style: none;
}

.top-bar ul li {
  flex-shrink: 0;
}

.top-bar ul a {
  text-decoration: none;
  color: black;
}

.top-bar ul a:hover {
  border-bottom: 2px solid black;
  padding-bottom: 29px;
}

.web-nav ul li,
.logo {
  margin-right: var(--spaceLink);
}

.user-nav ul li {
  margin-left: var(--spaceLink);
}

.user-nav button {
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 500;
}


/* JUMBOTRON */

h2.titolone {
  font-size: 2.5rem;
  font-weight: 800;
}

/* .col {
  padding: 20px;
} */

.jumbotron-bg {
  background-color: var(--lightcyan);
}

.jumbotron {
  padding-top: 80px;
  flex-direction: column;
  margin-bottom: 200px;
  /* text-align: center; */
}

.jumbotron .titolone {
  width: 100%;
}

.jumbotron h1 {
  padding-top: 85px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 5rem;
}

.jumbotron .col {
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  width: 33%;
  font-weight: 600;
}

.jumbotron .row .col button{
  margin: 30px 0;
  padding: 12px 15px;
  font-size: 1rem;
  font-weight: 500;
}

.jumbotron .row .col .go-down-anchor {
  margin: 60px 0 20px 0;
}

/* FIXME:image position  */


.jumbotron .row .magic-img{
  position: relative;
  width: 67%
}


.jumbotron .row .magic-img .image {
  position: absolute;
  width: 100%;
} 

.jumbotron .image img {
  width: 100%;
  max-width: 1000px;
  /* object-fit: cover; */
}

.jumbotron .col .go-down-anchor a {
  color: black;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* MAIN */

.main-wrap {
  /* padding-top: 80px; */
  /* transform: translate(0,80px); */
  flex-direction: column;
}

/* MAIN SECTION */


.partner-box,
.info-section,
.active-plan,
.info-section,
.our-customer-top,
.partecipa,
.faq-accordion {
  width: 100%;
  margin-bottom: 150px;
}

.main-top {
  flex-direction: column;
}

.main-top .finti-radio {
  margin: 20px 0;
}

.main-top h1 {
  font-size: 2.5rem;
}


/* ACTIVE PLAN SECTION */

.active-plan .plan-middle ul,
.active-plan .plan-bottom > ul {
  list-style-position: inside;
}

.info-section .row .small-col,
.active-plan .row .small-col {
  flex-basis: calc(100% / 4);
  flex-shrink: 0;
  /* height: 100px; */
  min-width: 300px;
  font-weight: 600;
}


.active-plan .row .small-col {
  border: 1px solid var(--greyTab);
  margin-bottom: 20px;
}

.active-plan .plan-top,
.active-plan .plan-middle,
.active-plan .plan-bottom,
.active-plan .plan-type {
  font-size: 0.9rem;
}

.active-plan button {
  font-size: 0.9rem;
  padding: 11px;
  font-weight: 500;
}

.line-dont-bother-me {
  height: 100%;
}

.finti-radio {
  font-size: 0.85rem;
  font-weight: 500;
}

/* ECCO I FINTI RADIO BOX */
.finti-radio .radio-box {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 50%;
}


.monthly {
  margin-right: 50px;
}

.monthly span:last-child::before, 
.annually span:last-child::before {
  content: '\0000a0\0000a0';
}

.radio-box.active {
  border: 5px solid var(--bluebtn);
}


/* CARD ACTIVE PLAN */

.plan-type {
  align-self: center;
  font-weight: 600;
  padding: 10px 0;
}

.small-col.d-column .plan-top,
.small-col.d-column .plan-middle,
.small-col.d-column .plan-bottom {
  padding: 0 20px;
}

.plan-top {
  border-top: 1px solid var(--greyTab);
}

.active-plan .row .plan-top {
  padding-bottom: 50px;
}

.plan-top .name-plan-type {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 1.2rem;
}

.plan-top .name-plan-type h3 {
  font-weight: 800;
}

.plan-top .plan-price {
  font-weight: 800;
  padding-bottom: 10px;
}

.plan-top .payment-method {
  color: grey;
  font-weight: 700;
}

.plan-middle > .fa-ul,
.plan-bottom > .fa-ul {
  margin-left: 18px;
}

.plan-middle > ul {
  padding-bottom: 40px;
}

.plan-middle > .fa-ul li,
.plan-bottom > .fa-ul li {
  padding-bottom: 15px;
}

.plan-middle button {
  width: 100%;
}

.plan-middle > span {
  display: inline-block;
  margin-top: 30px;
}

.plan-middle .magic-text {
  text-decoration: underline;
  text-underline-offset: 40px;
  text-decoration-color: var(--greyTab);
  width: fit-content;
}

.active-plan .plan-bottom {
  margin-bottom: 30px;
}

.plan-bottom span.btm-title {
  display: inline-block;
  padding: 90px 0 30px 8px;
  font-weight: 800;
}

.plan-bottom > ul > li > span.fa-li {
  color: var(--bluebtn);
}

/* SPECIAL PLAN ROW */

.special-plan .special-plan-left {
  width: 70%;
}

.special-plan .special-plan-right {
  width: 25%;
}

.special-plan.plan-type {
  /* display: inline-block; */
  border: 1px solid var(--greyTab);
  border-bottom: 0;
  text-align: center;
}

.special-plan-left > .plan-top {
  border-top: 0;
}

.small-col.special-plan .special-plan-left p {
  padding-bottom: 30px;
}

.special-plan button {
  width: 100%;
  margin-top: 25px;
}

/* PARTNER BOX SECTION */

.partner-box .col:first-child {
  width: 60%;
}

.partner-box .col h2 {
  font-weight: 700;
}

.partner-box .col:last-child {
  width: 40%;
  padding: 100px 50px;
}

.partner-box .col:last-child p {
  padding: 20px 0;
}

.partner-box .col img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.partner-box .col:last-child p,
.partner-box .col .white-btn {
  font-weight: 400;
}

.partner-box .col .white-btn {
  background-color: white;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
}




/* INFO SECTION */

.info-section h2.titolone {
  padding-bottom: 70px;
}

.info-section .row {
  width: 100%;
  min-width: 1010px;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.info-section .image-box {
  width: 100%;
}

.info-section .image-box img {
  width: 100%;
}

.info-section .small-col {
  margin-bottom: 60px;
}

/* OUR CUSTOMER - REVIEWS SECTION */

.our-customer {
  width: 100%;
}

.our-customer-top h2.titolone {
  width: 700px;
  padding-bottom: 70px;
}

.customer-reviews {
  width: 100%;
  min-width: 1010px;
  height: calc(100vw / 3);
}

.customer-reviews .square {
  flex-wrap: wrap;
  width: calc(100% / 3);
  /* aspect-ratio: 1 / 1; */
  height: 100%;
}

.brand-box {
  display: flex;
  /* flex-shrink: 0; */
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  cursor: pointer;
}

.brand-box img {
  width: 50%;
  filter: invert(1);
}

.square.reviews {
  background-color: var(--lightgrey);
  overflow-y: auto;
  padding: 50px;
}

.square.reviews .image-box {
  padding-bottom: 50px;
}

.square.reviews img{
  width: 250px;
}


/* BRANDS LEFT */

.customer-reviews .square:first-child div:first-child {
  background-color: #A2D39B;
}

.customer-reviews .square:first-child div:nth-child(2) {
  background-color: #61082B;
}

.customer-reviews .square:first-child div:nth-child(3) {
  background-color: #0093CE;
}

.customer-reviews .square:first-child div:last-child {
  background-color: #FF1C1C;
}

/* BRANDS RIGHT */

.customer-reviews .square:last-child div:first-child {
  background-color: #D5001F;
}

.customer-reviews .square:last-child div:nth-child(2) {
  background-color: #B4D0E7;
}

.customer-reviews .square:last-child div:nth-child(3) {
  background-color: #0D2481;
}

.customer-reviews .square:last-child div:last-child {
  background-color: #FFD830;
}

.brand-box:hover {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.6);
}

.brand-box.active {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.6);
}




/* PARTECIPA SECTION */

.partecipa {
  background-color: var(--lightcyan);
  min-width: 1010px;
}

.partecipa-container {
  padding: 100px 0;
  color: var(--partecipacolor);
}

.partecipa-container .col:first-child {
  width: 50%;
}
.partecipa-container .col:last-child {
  width: 25%;
  text-align: center;
}

.special-btn {
  width: 100%;
  color: black;
  background-color: white;
  font-size: 0.9rem;
}


/* FAQ - ACCORDION SECTION */

.faq-accordion {
  border-bottom: 1px solid #999999;
  min-width: 1001px;
}

.faq-accordion h2 {
  margin-bottom: 50px;
}

.faq-accordion .domandone {
  padding: 40px 20px 40px 0;
  border-top: 1px solid #999999;
  cursor: pointer;
}

.faq-accordion .domandone div.domanda {
  font-weight: 800;
  font-size: 1rem;
}

.faq-accordion .domandone span.risposta {
  display: none;
  padding-top: 20px;
  font-size: 0.9rem;
}

.hidden-arrow {
  font-size: 0.8rem;
  font-weight: bolder;
}

.faq-accordion .domandone:hover span.risposta {
  display: block;
}

.domandone:hover .hidden-arrow span:first-child {
  display: none;
} 

.domandone:hover .hidden-arrow span:last-child {
  display: inline-block;
} 

.hidden-arrow span:last-child {
  display: none;
}


/* FOOTER */

footer {
  background-color: black;
  height: 580px;
  min-width: 1010px;
}

footer .footer-top .nav {
  margin-bottom: 100px;
}


.footer-top .col {
  width: calc(100% / 6);
  font-size: 5rem;
  color: white;
}

.footer-top ul {
  /* font-size: 1rem; */
  list-style: none;
}

/* NOME NAV */
.footer-top .nav-parent{
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 700;

}

.footer-top .col li {
  padding: 8px 0;
  font-size: 0.9rem;
  font-weight: 500;

}

.footer-top .col li > a {
  text-decoration: none;
  color: white;

}



.footer-bottom {
  color: black;
  font-size: 1rem;
  /* width: fit-content; */
  text-align: left;
  
}

.footer-bottom span {
  color: var(--grey);
  border-top: 1px solid white;
  padding-top: 40px;
  padding-right: 40px;

}

/* 
.footer-bottom:nth-child(3) {
  color: var(--grey);
}

.footer-bottom:nth-child(2) span {
  border-top: 2px solid var(--grey);
  padding-right: 30px;
} */